<launch>

   <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />

    <!-- GAZEBO arguments -->
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="load_gripper" default="true" />

    <!--launch GAZEBO with own world configuration -->

<!--     <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find panda_simulation)/worlds/empty_world.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda" /> -->



    <!--launch GAZEBO with own world configuration -->
    
  <include file="$(find panda_simulation)/launch/controller_utils.launch"/>
    


  <!-- start this controller -->
  <rosparam file="$(find panda_simulation)/config/panda_control.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn panda_arm_controller" respawn="false" output="screen"/>
  <node name="hand_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn panda_hand_controller" respawn="false" output="screen"/>

  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_position_controller" />


  <!-- Run Moveit and RVIZ -->

      <include file="$(find panda_moveit)/launch/demo_planning_execution.launch"> </include>


</launch>